**/.ipynb_checkpoints
**/*.pdf
scripts/**/*.png
save-figs
**/*.aux
**/*.bbl
**/*.blg
**/*.lof
**/*.log
**/*.lot
**/*.out
**/*.aux
**/*.xml
**/*.spl
**/*.pbs*
doc
/*.pdf
*.swp
**/*.docx
**/*.nc
**/__pycache__
**/data
**/*.ipynb
**/*.csv
