article-enso.synctex.gz
**/.ipynb_checkpoints
**/*.pdf
scripts/**/*.png
save-figs
**/*.aux
**/*.bbl
**/*.blg
**/*.lof
**/*.log
**/*.lot
**/*.out
**/*.aux
**/*.xml
**/*.spl
**/*.pbs*
doc
/*.pdf
*.swp
**/*.docx
**/*.nc
**/__pycache__
**/data
**/*.ipynb
**/*.csv
_region_.tex
\#article-enso.tex#
\#article-enso.tex#
article-enso.fdb_latexmk
article-enso.fls
clean.sh
scripts/97/profile.html
article-enso.prv/tmp22799IIv/preview.dsc
_region_.prv/tmp10926V2h/preview.dsc
scratch
figs/conclusion/conlusion_fig.synctex.gz
